.vsconfig
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
XLuaFramework.sln
Library/
Logs/
obj/
Packages/
Temp/
UserSettings/
ProjectSettings/
.vs/XLuaFrameworkGit/FileContentIndex/
.vs/XLuaFrameworkGit/v17/.suo
